{% for item in cart.items.all %}
<input type='hidden' id='item_slug_{{forloop.counter}}' value='{{ item.item.slug }}' />
<tr class='cart-product'>
  <th scope="row">{{ forloop.counter }}</th>
  <td>{{ item.item.title }}
  </td>
  <td ><input id="id_price_{{forloop.counter}}" class="form-control" value="{{ item.item.price|floatformat:2 }}" readonly="readonly"/></td>
  <td> 
    <input id="{{forloop.counter}}" type="number" class="form-control"  value='{{ item.quantity }}' onfocusout="updateFunc(this,'/cart/quantity-update/')" />
  </td>
  <td>
    <input id="total_item_price_{{forloop.counter}}" class="form-control" value="" readonly="readonly"/>
    
  </td>
</tr>
{% endfor %}
<tr>
  <td colspan="3"></td>
  <td></td>
  <td><b>Total</b> 
    $<input id="total_price" class="form-control" value="" readonly="readonly"/>
  </td>
</tr>
<tr>
  <td colspan="3"></td>
  <td></td>
  <td >
    <div class="row">
      <div class="col-3">
        <a class='btn btn-success' onclick="updateFunc(this,'/cart/confirm/')">Buy</a>
      </div>
  </div>
  </td>
</tr>
