{% extends 'base.html' %}

{% block content %}
<div class="row">
  {% for item in items %}
  <div  style="display: flex;" class="col-12 mx-4">
    <div  class="a-box">
      <div class="img-container mx-4">
        <div class="img-inner">
          <div class="inner-skew">
            <img src="https://images.unsplash.com/photo-1584791097929-aa825fe8e1e1?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ">
          </div>
        </div>
      </div>
      <div class="text-container">
        <h3>{{item.title}}</h3>
        <div>
          {{item.description}}
        </div>
        {% include 'carts/update-cart.html' %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
